[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
langchain = "*"
openai = "*"
google-search-results = "*"
chromadb = "*"
tiktoken = "*"
pypdf = "*"

[dev-packages]
debugpy = "*"

[requires]
python_version = "3.10"
